div[property=dodelete] {
  width: 16px
}
div[property=title] {
  width: 200px
}
div[property=type] {
  width: 60px
}
div[property=value] {
  width: 240px
}
div[property=enabled] {
  width: 60px
}
div[property=userAgent] {
  width: 70px
}
div[property=scriptSetting] {
  width: 200px
}
div[property=script] {
  width: 200px
}
