#overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
  background-color: darkgray;
  opacity: 0.8;
}

.itemline.newline:not(.editing) {
  display:none;
}
div[property=dodelete] {
  width: 16px
}
div[property=title] {
  width: 170px
}
div[property=type] {
  width: 60px
}
div[property=value] {
  width: 280px
}
div[property=enabled] {
  width: 60px
}
div[property=userAgent] {
  width: 80px
}

div[property=scriptSetting] {
  width: 200px
}
div[property=script] {
  width: 200px
}

div [property=add] {
  width: 80px;
}

[property=status] button {
  width: 70px;
}

#ruleCmds button {
  width: 100px;
  margin: 10px 8px 3px 8px;
}

#tbServer, #tbServerStatus {
  float: left;
}

#tbServer {
  width: 600px;
}
