.status {
  font-size: 18px;
  margin: 0 20px;
}

.main {
  width: 450px;
  height: 250px;
}

#share {
  margin-top: 50px;
}

#issue_view {
  margin: 15px 10px;
}

button {
  width: 350px;
  height: 30px;
  margin: 4px;
}

button.defaultRule {
  background-color: #0A0;
}

button.customRule {
  background-color: #aaf;
}

