.itemline.newline:not(.editing) {
  display:none;
}

.list {
  width: 100%;
  height: 520px;
}

div[property=title] {
  width: 200px
}
div[property=type] {
  width: 60px
}
div[property=value] {
  width: 240px
}
div[property=enabled] {
  width: 60px
}
div[property=userAgent] {
  width: 70px
}

div[property=script] {
  width: 200px
}

div[property=description] {
  width: 300px
}

div[property=url] {
  width: 300px
}
div [property=add] {
  width: 80px;
}

[property=status] button {
  width: 70px;
}

#scriptEditor {
  display: block;
  width: 100%;
  height: 361px;
}
